#mypage-h1 {
    margin : 0% 30% 10px 30%;
}

#mypage-grid1 {
    display: grid;
    grid-template-columns : 1fr 5fr;
}

#mypage-nav {
    border : 1px solid black;
}

#mypage-content {
    border : 1px solid black;
}

#mypage-profile {
    display: grid;
    grid-template-columns : 1fr 3fr;
    margin-left : 0rem;
    row-gap: 1rem;
    text-align: left;
}

#mypage-profile-photo {
    margin : auto;
    width : 3rem;
    height : 3rem;
    margin-right : 1rem;
}

#mypage-profile-content {
    margin-left : 1rem;
}